<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Forum | Topics</title>
	<link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	 <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div id="wrapper">
	<header>
		<nav id="top">
			<ul class="pure-menu-horizontal pure-menu-list">
				<li class="pure-menu-item"></li>
				<a href="/forum/topics"><li class="pure-menu-item">New Topic</li></a>
				<a href="/forum/topics/popular"><li class="pure-menu-item">Popular Topics</li></a>	
				<a href="/forum/comments/recent"><li class="pure-menu-item">Recent Comments</li></a>
				<a href="#"><li class="pure-menu-item">Logout</li></a>
			</ul>
		</nav>
		<h1><%=type%> Topics</h1>
	</header>
	<div id="main">
	<ul>
	<%Object.keys(topics).forEach(function(key){ %>
			<a name="<%=topics[key].id%>"><li></a>
			<a href='/forum/topics/<%=topics[key].title%>'><h2><%=topics[key].title%></h2></a>
			<li><img id="user-image" src="<%=topics[key].image%>"><em> created by <%=topics[key].user_name%></em>
			</li>
			<h2> Votes:<%=topics[key].votes%></h2>
			<form action='/forum/topics/<%=topics[key].id%>?_method=PUT' method="POST">
				<input class="hidden" name="user_id" value="<%=topics[key].user_id%>">
				<input class="hidden" name="id" value="<%=topics[key].id%>">
				<input class="hidden" name="title" value="<%=topics[key].title%>">
			<button id = "vote">like</button>

			</form>
		</li>
		<%})%>
	</ul>
</div>
<footer id="comment">
	<form action='/forum/topics' method='POST'>
			<input type = "text" name="title" placeholder="add new title topic">
			<input type = "text" name="name" placeholder="username">
			<button>Add</button>
		</form>
</footer>
</div>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="/main.js"></script>
</body>
</html>